.navbar {
    background: linear-gradient(90deg, #0c8e70, #0aa380);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.logo {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    object-fit: cover;
}

.nav-link {
    color: white !important;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.15);
    transform: scale(1.03);
}

.section-title {
  border-bottom: 3px solid #0aa380;
  display: inline-block;
  padding-bottom: 10px;
}