html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    background: linear-gradient(90deg, #0c8e70, #0aa380, #0aa380);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    margin: 0 !important;
}

.nav-link {
    color: white !important;
    font-weight: 500;
    padding: 5px 10px;
}

.nav-link:hover {
    background: #00000055;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.logo {
    width: 4rem;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    transition: all .3s ease;
    animation: up 1.7s ease infinite;
}

@keyframes up {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

.btn-success {
    background-color: #09906f;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
    color: #fff;
}

.btn-success:hover {
    background-color: #0bb88b;
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.45);
}