html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    background: linear-gradient(90deg, #0c8e70, #0aa380, #0aa380);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    margin: 0 !important;
}

.nav-link {
    color: white !important;
    font-weight: 500;
    padding: 5px 10px;
    position: relative;
}

.nav-link::before {
    transition: all 0.3s linear;
    position: absolute;
    content: '';
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    border-radius: 10px;
    background: #f9fbf4;
}

.nav-link:hover::before {
    width: 100%;
}

.logo {
    height: 60px;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
}

.section-title {
    border-bottom: 3px solid #0aa380;
    display: inline-block;
    margin-bottom: 10px;
}