html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    background: linear-gradient(90deg, #0c8e70, #0aa380, #0aa380);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    margin: 0 !important;
}

.nav-link {
    color: white !important;
    font-weight: 500;
    padding: 5px 10px;
}

.nav-link:hover {
    background: #00000055;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.logo {
    width: 4rem;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}