/* Header */
header {
  background-image: linear-gradient(90deg, #00000069, #00000069), url('../Image/This\ Therapist\ Is\ Revealing\ The\ Hidden\ Harm\ In___.jpeg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh !important;
}

.hero-section {
  padding-top: 100px;
}

.hero-content p {
  color: #e6e6e6;
  line-height: 1.8;
}

.missing-section {
  background: #f9f9f9;
}

.section-title {
  font-size: 2.5rem;
  text-align: center !important;
  color: #0c8e70;
  border-bottom: 3px solid #0aa380;
  display: inline-block;
  padding-bottom: 10px;
}

.missing-card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.missing-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.missing-card img {
  height: 250px;
  object-fit: cover;
}

.missing-card .card-title {
  /* font-size: 1.3rem; */
  color: #0c8e70;
}

.missing-card .card-text {
  font-size: 1rem;
  color: #333;
}


/* ✅ صور قصص النجاح */
.success-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.footer-advanced a:hover {
  text-decoration: underline !important;
}