.preview {
  object-fit: cover;
  width: 200px;
  height: 200px;
  display: block;
  margin: 5px auto;
  box-shadow: 0 4px 12px black;
}

@media (max-width: 768px) {
    form {
        margin: auto;
    }

    #searchInput {
        width: 200px;
        height: 40px;
        margin: auto 8px;
    }
}