.preview {
    object-fit: cover;
    width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto;
}

/* تنسيق النصوص */
.card-body p {
    line-height: 1.6;
}

/* زر التفاصيل */
.btn-detail {
    transition: all 0.3s ease;
}

.btn-detail:hover {
    background-color: #09906f;
    color: #fff;
}

/* الكارت نفسه */
.missing-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.missing-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}


@media (max-width: 768px) {
    form {
        margin: auto;
    }

    #searchInput {
        width: 200px;
        height: 40px;
        margin: auto 8px;
    }
}